#main-graph{
  padding-top: 5%;
  padding-left: 25%;
  margin-right: 25%;
}

.description {
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%
  background-color: white;
  border: solid;
  border-radius: 20px;
  border-color:rgb(221,210,59);
}
.title {
  font-family: Arial, Helvetica, sans-serif;
}
